@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}
body {
  font-family: 'Hack', sans-serif;
  min-height: 100vh;
  background: linear-gradient(35deg, #a1eeeb 30%, #4331ec 85%);
  background: linear-gradient(35deg, #f8d60f 20%, #fc5c5c 85%);
  background: linear-gradient(65deg, #fbdc14 20%, #04c4d4 20%, #04c4d4 65%, #fc5c5c 65%, #fc5c5c 85%);
}
canvas {
  height: 30vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
canvas {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.content {
  color: #bcdbc1;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 2;
}
.content h1 {
  font-size: 4rem;
  text-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.content p1 {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vh;
  -webkit-box-pack: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .content h1 {
    font-size: 10rem;
  }
  .content p1 {
    color:azure;
    font-size: 1.5rem;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.5);
  }

}

.button {
  display: inline-block;
  top: 30%;
  position:absolute;
  border-radius: 10px;
  background-color: #f8d60f;
  border: none;
  color: #fc5c5c;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-weight: 800;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}